---
layout: home
title: Orange Avenue Baptist Church
subtitle: The Church Where Everybody Is Somebody & Jesus Christ Is LORD!!!
body: |
    <p style="color:red;font-weight: bold;font-size: 24pt;">UPDATE: Wednesday church night services will be canceled due to Hurricane Milton.<br />
    Orange Avenue Baptist School will remain closed Thursday October 10th while continuing to monitor the situation.<br />
    We will update the website in regards to Friday the 11th by Thursday at 6pm.</p>
    Please check back for regular updates!</p>
    <p style="color:black;font-weight: bold;font-size: 12pt;">Last updated (10/09/24 9:30am)</p>
    <img src="/assets/img/Orange-Avenue-Full-Front.jpeg"><br /><br />
    We welcome you to the OABC Ministries website!<br />
    If you do not have a Church home, or you are looking for where God would have you to serve, we invite you to join us at Orange Avenue Baptist Church.<br /><br />

---
{% include schedule.html %}

{% include schooldisplay.html %}
