---
layout: home
title: Orange Avenue Baptist Church
subtitle: The Church Where Everybody Is Somebody & Jesus Christ Is LORD!!!
body: |
    <!---<p style="color:red;font-weight: bold;font-size: 24pt;">Orange Avenue Baptist School will be closed Wednesday, November 9th and Thursday, November 10th. <br />
    Please check back for updates!</p>--->
    <!---<p style="color:blue;font-weight: bold;font-size: 24pt;">6/18/2023 Family Fun Fair 5:00 PM<br /></p>
    <p style="color:blue;font-weight: bold;font-size: 18pt;">Kicks off VBS Keepers of the Kngdom that runs 6/21-6/24</p>--->
    <!---<p style="color:blue;font-weight: bold;font-size: 24pt;">VBS Keepers of the Kingdom<br /></p>
    <p style="color:blue;font-weight: bold;font-size: 18pt;">Ages 4-12<br />
        6/21-6/23 6:00 PM - 8:00 PM<br />
        6/24 10:00 AM - 4:00 PM (Free lunch provided)</p>--->
    <!---<p style="color:black;font-weight: bold;font-size: 12pt;">Last updated (11/08/22 8:00am)</p>--->
    <img src="/assets/img/Orange-Avenue-Full-Front.jpeg"><br /><br />
    We welcome you to the OABC Ministries website!<br />
    If you do not have a Church home, or you are looking for where God would have you to serve, we invite you to join us at Orange Avenue Baptist Church.<br /><br />

---
{% include schedule.html %}

<!---{% include schooldisplay.html %}
